<header class="header clearfix">
    <h1 class="page-title">{{pageTitle}}</h1>
    <div class="top-navigation">
        <a class="nav-links" href="/">Home</a>
        <a class="nav-links" href="/about">About</a>
        <a class="nav-links" href="/projects">Projects</a>
    <div>
</header>