<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Page Not Found</title>
        <link rel=stylesheet media=all href="../css/style.css">
    </head>    
    
    <body class="page-404">

        {{> header}}
        
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Kg8qHhY3uQkobZhSkLF3e5n_v-Dn-687v0lj6CcMni4O3VJucg"/>
        <p>{{page404message}}</p>

        {{> footer}}
    </body>
</html>