 /* Formatting */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

/* General Styles */
body {
     background-color: lemonchiffon;
     padding: 0 2em;
}


/* Header */
.header {
    display: flex;
    flex-wrap: wrap;
}
.page-title {
    flex: 1 1 40%;
     float: left;
}
.top-navigation {
    flex: 0 1 60%;
    float: left;
    display: flex;
    align-content: space-between;
}
.nav-links {
    flex: 0 1 30%;
    padding: 1em 1em;
}
.nav-links:first-of-type {
    padding-left: 0;
}

/* 404 page */
.page-404 {
    background-color: rgba(255, 99, 71, .8);
}