 
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
     background-color: lemonchiffon;
     padding: 0 2em;
}
.header {
    display: flex;
    flex-wrap: wrap;
}
.page-title {
    flex: 1 1 40%;
     float: left;
}
.top-navigation {
    flex: 0 1 60%;
    float: left;
    display: flex;
    align-content: space-between;
}
.nav-links {
    flex: 0 1 30%;
    padding: 1em 1em;
}
.nav-links:first-of-type {
    padding-left: 0;
}
